<footer class="footer-contact">
    <div class="container py-3">
        <p class="footer-copyright-text mb-0">
            © @DateTime.Now.Year Planificacion | Todos los derechos reservados
        </p>
    </div>
</footer>
