planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfoInputs.cache
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.csproj.AssemblyReference.cache
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfoInputs.cache
planificacion/obj/Debug/net8.0/planificacion.Web.csproj.AssemblyReference.cache
