planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfoInputs.cache
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.csproj.AssemblyReference.cache
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfoInputs.cache
planificacion/obj/Debug/net8.0/planificacion.Web.csproj.AssemblyReference.cache
*.editorconfig
planificacion/obj/Debug/net8.0/planificacion.Web.assets.cache
planificacion/obj/Debug/net8.0/planificacion.Web.GeneratedMSBuildEditorConfig.editorconfig
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
planificacion/obj/Debug/net8.0/planificacion.Web.AssemblyInfo.cs
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.assets.cache
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfoInputs.cache
planificacion.Infraestructure/obj/Debug/net8.0/planificacion.Infraestructure.AssemblyInfo.cs
planificacion.Domain/obj/Debug/net8.0/planificacion.Domain.GeneratedMSBuildEditorConfig.editorconfig
planificacion.Domain/obj/Debug/net8.0/planificacion.Domain.assets.cache
planificacion.Domain/obj/Debug/net8.0/planificacion.Domain.AssemblyInfoInputs.cache
planificacion.Domain/obj/Debug/net8.0/planificacion.Domain.AssemblyInfo.cs
planificacion.Application/obj/Debug/net8.0/planificacion.Application.GeneratedMSBuildEditorConfig.editorconfig
planificacion.Application/obj/Debug/net8.0/planificacion.Application.assets.cache
planificacion.Application/obj/Debug/net8.0/planificacion.Application.AssemblyInfoInputs.cache
planificacion.Application/obj/Debug/net8.0/planificacion.Application.AssemblyInfo.cs
