@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Planificacion</h1>
    <p>Proyecto base con Clean Architecture (Domain, Application, Infrastructure, Web)</p>
    <p>Basado en la estructura de SanLuisInvestiga.</p>
</div>
